.beer {
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 1rem;
  max-width: 30%;
  margin: 0 auto 30px auto;

  &__img { 
    text-align: center;
    height: 200px;
    margin-bottom: 10px;

    img {
      max-height: 100%;
    }
  }

  &__title {
    font-size: 24px;
  }
  &__tagline {
    font-size: 18px;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 40px;
    
    &__abv {
      font-size: 14px;
    }
  }

  &.beer_cart {
    display: flex;
    max-width: 100%;
    margin: 0 auto 10px auto;

    .beer__img { 
      height: 60px;
      margin-right: 10px;
    }
  }
}